@font-face {
    font-family: "ForestHome";
    src: url("assets/fonts/ForestHome.otf");
}

body {
    background-color: #000000;
}

a {
    color: #f084dc;
}

.prelink {
    display: inline;
}

.text {
    position: fixed;
    text-align: center;
    color: #efd8c9;

    font-family: "ForestHome";
    font-size: 32px;

    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.bigtextforwhenurpep {
    font-size: 48px;
    line-height: 0px;
    white-space: nowrap;
}

.warning {
    color: #fc2b5c;
}

#pronouns {
    color: #5A5549;
}

#trees-background {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 1000%;
    min-height: 1000%;
    transform: translateX(-50%) translateY(-50.1%) scale(0.1);
    z-index: -1;
}

#tree-left {
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    z-index: -1;
}

#tree-right {
    position: fixed;
    right: 0;
    top: 0;

    height: 100%;
    z-index: -1;
}

html {
    visibility: visible;
}
