@font-face {
    font-family: "ForestHome";
    src: url("assets/fonts/ForestHome.otf");
}

.bigtextforwhenurpep {
    color: #efd8c9;
    font-size: 48px;
    font-family: "ForestHome";
}

.links {
    color: #f084dc;
    font-size: 32px;
    font-family: "ForestHome";
}

.prelink {
    color: #efd8c9;
    display: inline;
}

a {
    color: #f084dc;
}

body {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

html {
    height: 100%;
    width: 100%;
    line-height: 32px;
        
    background-image: url("assets/art/tree-left.webp"), url("assets/art/tree-right.webp"), url("assets/art/background.webp");
    background-position: left, right, center;
    background-repeat: no-repeat;
    background-size: auto 100%, auto 100%, cover;
    background-attachment: fixed;
    background-color: #000000;
}